body{
    background: rgb(0, 0, 0);
}
#container {
    width: 1000px;
    margin: auto;
}
header{
    height: 200px;
    background: url("img1.jpg");
}
nav{
    height: 50px;
    background: rgb(17, 16, 16);
}
section{
    min-height: 400px;
    background: rgb(254, 254, 254);
    color: rgb(4, 4, 4);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer{
    height: 50px;
    background:rgb(17, 16, 16);
    color: aliceblue;
}
#acesso {
    width: 200px;
    border-radius:50%;

}
h1{
    margin: auto;
}
footer{
    background: black;
    color: azure;
    text-align: center;
    height: 50px;
}
form h1{
    margin: auto;
}
table, td {
    border: 1px solid black;
    margin: auto;
}
